body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.celebrate {
  font-size: 4rem;
  animation: celebrate 1s infinite;
  color: green;
}

@keyframes celebrate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.4) rotate(10deg);
  }
  50% {
    transform: scale(1.2) rotate(-10deg);
  }
  75% {
    transform: scale(1.5) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
